.git
.gitignore
.env
.env.*
!.env.example
!.env.*.example

backend/node_modules
backend/dist
frontend/node_modules
frontend/dist

data
uploads
output_images
output_json
repair_json
merged_json
read_results
runtime_cache

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.vscode
.idea
README.md
